<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376019401746-3qqone1i1tjotbge26ima8tnhel92h7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376019401746-3qqone1i1tjotbge26ima8tnhel92h7g</string>
	<key>API_KEY</key>
	<string>AIzaSyBvhvIhSRNkwki9PWZ_JoouE4AZ6W3rNfg</string>
	<key>GCM_SENDER_ID</key>
	<string>376019401746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.roadcast.bolt</string>
	<key>PROJECT_ID</key>
	<string>api-7188596995413108076-703135</string>
	<key>STORAGE_BUCKET</key>
	<string>api-7188596995413108076-703135.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376019401746:ios:c78bcf8ed8b3a589</string>
	<key>DATABASE_URL</key>
	<string>https://api-7188596995413108076-703135.firebaseio.com</string>
</dict>
</plist>